files:
    "/opt/elasticbeanstalk/hooks/postinit/01_change_storage_permissions.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            chown -R 33:33 /var/app/current
            chmod -R 770 /var/app/current
    "/opt/elasticbeanstalk/hooks/appdeploy/01_change_storage_permissions.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            chown -R 33:33 /var/app/current
            chmod -R 770 /var/app/current