files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/1_fix_permissions.sh":
  mode: "000755"
      owner: root
      group: root
      content: |
          "#!/bin/sh"
          getent group www-data || groupadd www-data
          id -u nginx &>/dev/null || useradd nginx
          id -u www-data &>/dev/null || useradd www-data

          usermod -a -G www-data www-data
          usermod -a -G www-data root
          usermod -a -G www-data nginx

          chown -R root:www-data /var/app/current
          chmod -R 770 /var/app/current
